<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsPurchaseOrder
 * @author      CedCommerce Core Team <connect@cedcommerce.com >
 * @copyright   Copyright CEDCOMMERCE (https://cedcommerce.com/)
 * @license      https://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- set order id in purchase order table after place order -->
    <event name="sales_order_place_after">
        <observer name="ced_quote_order_place_after" instance="Ced\CsPurchaseOrder\Observer\PlaceOrderAfter"/>
    </event>
    <event name="checkout_cart_product_add_after">
               <observer name="customprice" instance="Ced\CsPurchaseOrder\Observer\CustomPrice" shared="false"/>
            </event>
</config>
